name: pawvera
description: A new Flutter project for Pet services.
publish_to: 'none'
version: 1.0.0+1
homepage: https://github.com/RamaAlkhatib2/PawVera-App
repository: https://github.com/RamaAlkhatib2/PawVera-App
environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
